*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 15px;
}

.views-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-normal {
    color: #FFF;
}

.text-error {
    color: #F00;
}

.text-success {
    color: #0F0;
}

.text-info {
    color: #09F;
}

.text-warning {
    color: #DA0;
}
